.loginCard{
    text-align: center !important;
    position: absolute;
    top: 50%; left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 3%;
}

.loginMainDiv{
    height: 100%;
}

.MuiCardActions-root{
    text-align: center !important;
}

.login-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.connection {
    margin-left: 14% !important;
}

.errMess{
    color: red;
    font-size: 15px;
}